<div class="col-12 mt-2 width-1220">
  <div class="row">
    <div class="col-4">
      <button
        class="btn btn-primary btn-sm"
        type="button"
        (click)="addPerson()"
      >
        <fa-icon [icon]="faPlus"></fa-icon> Adaugă
      </button>
    </div>

    <div class="col-4">
      <h4 class="text-center">Persoane</h4>
    </div>

    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-12 width-1220">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-bordered">
            <th width="60px" rowspan="2">Nr. Crt.</th>
            <th width="180px">Nume</th>
            <th width="180px">Prenume</th>
            <th width="150px">CNP</th>
            <th width="70px">Vârsta</th>
            <th rowspan="2">Mașini în proprietate</th>
            <th width="70px" rowspan="2"></th>
          </tr>

          <tr>
            <th>
              <input
                class="form-control input-xs"
                placeholder="Căutare..."
                aria-label="Căutare nume"
                [(ngModel)]="filters.lastName"
                (ngModelChange)="onFiltersChange()"
              />
            </th>

            <th>
              <input
                class="form-control input-xs"
                placeholder="Căutare..."
                aria-label="Căutare prenume"
                [(ngModel)]="filters.firstName"
                (ngModelChange)="onFiltersChange()"
              />
            </th>

            <th>
              <input
                class="form-control input-xs"
                placeholder="Căutare..."
                aria-label="Căutare CNP"
                [(ngModel)]="filters.cnp"
                (ngModelChange)="onFiltersChange()"
              />
            </th>

            <th>
              <input
                type="text"
                inputmode="numeric"
                maxlength="3"
                class="form-control input-xs"
                placeholder="Vârstă..."
                aria-label="Căutare vârstă exactă"
                [(ngModel)]="filters.age"
                (ngModelChange)="onFiltersChange()"
              />
            </th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="col-12 position-relative width-1220">
      <div id="view" style="max-height: 60vh">
        <table
          class="table table-hover table-striped table-bordered font-14 p-0"
        >
          <tbody>
            <tr
              *ngFor="let person of persons; let i = index"
              (dblclick)="editPerson(person)"
            >
              <td width="60px" class="text-center">{{ i + 1 }}</td>
              <td width="180px">{{ person.lastName }}</td>
              <td width="180px">{{ person.firstName }}</td>
              <td width="150px" class="text-center">{{ person.cnp }}</td>
              <td width="70px" class="text-center">{{ person.age }}</td>

              <td>
                <div
                  *ngFor="let car of person.cars; let last = last"
                  [class.border-bottom]="!last"
                  class="p-1"
                >
                  <strong>{{ car.brand }} {{ car.model }}</strong>

                  <div>
                    An: {{ car.manufactureYear }} | Capacitate:
                    {{ car.engineCapacity }} cm³ | Impozit: {{ car.tax }} lei
                  </div>
                </div>

                <span *ngIf="!person.cars.length">—</span>
              </td>

              <td width="35px" class="text-center">
                <button
                  type="button"
                  class="btn btn-link p-0"
                  (click)="editPerson(person)"
                  (dblclick)="$event.stopPropagation()"
                  aria-label="Modificare"
                >
                  <fa-icon class="text-primary" [icon]="faEdit"></fa-icon>
                </button>
              </td>

              <td width="35px" class="text-center">
                <button
                  type="button"
                  class="btn btn-link p-0"
                  (click)="deletePerson(person)"
                  (dblclick)="$event.stopPropagation()"
                  aria-label="Ștergere"
                >
                  <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>

            <tr *ngIf="!persons.length" class="text-center fw-bold">
              <td colspan="8">Date inexistente!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
