<div class="header">
  <div class="row">
    <div class="col-1">
      <div class="logo"></div>
    </div>
    <div class="col-7 user-wrap-start">
      <span>
        <a routerLink="information" routerLinkActive="active-link"
          >Informații</a
        >
      </span>

      <span>
        <a routerLink="/persons" routerLinkActive="active-link">Persoane</a>
      </span>

      <span>
        <a routerLink="/cars" routerLinkActive="active-link">Mașini</a>
      </span>
    </div>
  </div>
</div>
