<div class="col-12 mt-2 width-1220">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary btn-sm" type="button" (click)="addCar()">
        <fa-icon [icon]="faPlus"></fa-icon> Adaugă
      </button>
    </div>

    <div class="col-4">
      <h4 class="text-center">Mașini</h4>
    </div>

    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-12 width-1220">
      <app-data-table
        [rows]="cars"
        [columns]="columns"
        (editRow)="editCar($event)"
        (deleteRow)="deleteCar($event)"
        emptyMessage="Nu există mașini de afișat."
      >
        <ng-template #filterTemplate>
          <th></th>

          <th>
            <input
              class="form-control input-xs"
              placeholder="Căutare..."
              aria-label="Căutare marcă"
              [(ngModel)]="filters.brand"
              (ngModelChange)="onFiltersChange()"
            />
          </th>

          <th>
            <input
              class="form-control input-xs"
              placeholder="Căutare..."
              aria-label="Căutare model"
              [(ngModel)]="filters.model"
              (ngModelChange)="onFiltersChange()"
            />
          </th>

          <th>
            <input
              class="form-control input-xs"
              placeholder="Căutare..."
              aria-label="Căutare an"
              [(ngModel)]="filters.manufactureYear"
              (ngModelChange)="onFiltersChange()"
            />
          </th>

          <th>
            <input
              class="form-control input-xs"
              placeholder="Căutare..."
              aria-label="Căutare capacitate"
              [(ngModel)]="filters.engineCapacity"
              (ngModelChange)="onFiltersChange()"
            />
          </th>

          <th>
            <input
              class="form-control input-xs"
              placeholder="Căutare..."
              aria-label="Căutare taxă"
              [(ngModel)]="filters.tax"
              (ngModelChange)="onFiltersChange()"
            />
          </th>

          <th></th>
          <th></th>
        </ng-template>
      </app-data-table>
    </div>
  </div>
</div>
